<!-- menu -->
<nav>
    <ul>
        <li>
            <a [routerLink]="['/']">
                <span>HOME</span>
                <img src="assets/navigation/home.svg" alt="home">
            </a>
        </li>
        <li>
            <a [routerLink]="['/about']">
                <span>ABOUT</span>
                <img src="assets/navigation/info.svg" alt="about">

            </a>
        </li>
        <li>
            <a [routerLink]="['/contact']">
                <span>CONTACT</span>
                <img src="assets/navigation/contact.svg" alt="contact">

            </a>
        </li>
    </ul>
</nav>