@import "__fonts.scss";
@import "__colors.scss";
@import "__responsive_mixin";

nav:hover {
  box-shadow: var(--text-color) 0px 0px 10px;
  transition: box-shadow 1s ease;

  ul {
    transform: translateY(-0.2rem);
    transition: transform 1s ease;
  }
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nav-bg-color);
  border-left: var(--text-color) transparent 1px;

  @include tablet {
    width: 25vw;
  }

  .theme_toggle {
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-bottom: 4px solid white;
    border-top: 4px solid $gray-900;
    border-radius: 50px;
    input {
      display: none;
    }
    .theme-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transform: scale(0.8);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      background-image: var(--theme-icon);
    }
    .theme-icon:hover {
      filter: none;
      background-image: var(--theme-icon-hover);
      transform: scale(0.9);
      transition: all 0.5s ease;

    }
  }

  ul {
    list-style: none;
    display: grid;
    width: 100%;
    height: 50%;

    @include tablet {
      height: 30%;
    }

    li {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-family: $font-menu;
        font-size: 1.8rem;
        @include desktop {
          font-size: 2.5rem;
        }
        &:hover {
          font-size: 2.1rem;

          @include desktop {
            font-size: 2.8rem;
          }
          transition: all 0.5s;
        }

        //text menu for large screen
        .text-link {
          display: none;

          @include tablet {
            display: block;
          }
        }
        img {
          width: 48px;
          height: 48px;
          @include tablet {
            display: none;
          }
        }
      }

      //reutilizable styles for links
      @mixin style-link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        inset: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.1rem;
        @include desktop {
          font-size: 2.8rem;
        }
      }

      @include tablet {
        //selectors are used to give particular styles to each link
        a[href="/"]:hover::before {
          background: linear-gradient(900deg, #007cf0, #00dfd8);
          content: "HOME";
          @include style-link();
        }

        a[href="/about"]:hover::before {
          background: linear-gradient(900deg, #7928ca, #ff0080);
          content: "ABOUT";
          @include style-link();
        }

        a[href="/contact"]:hover::before {
          background: linear-gradient(900deg, #ff4d4d, #f9cb28);
          content: "CONTACT";
          @include style-link();
        }
      }
    }
  }
}
