<table class="mx-3 mx-md-5">
    <thead class="text-center">
        <th colspan="3" class="h3 border-bottom  border-dark py-3">
            <strong>
                Experiencia Laboral
            </strong>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobsExperienceData">
            <td class="text-center">
                <img class="skill-icon" [src]="job.logoUrl" width="30px" height="30px" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Tecnolar" alt="Tecnolar logo">
            </td>
            <td  class="p-2 w-25">
                <p>
                    <strong>{{job.enterprise}}</strong>
                    <br>
                    {{job.position}}
                    <br>
                    {{job.startDate}} - {{job.endDate}}
                </p>

            </td>
            <td>

                <ul>
                    <li *ngFor="let job of job.jobDetails">{{job}} </li>
                </ul>

            </td>
        </tr>
    </tbody>
</table>