<header class="d-flex flex-column flex-xl-row justify-content-between">

    <div class="col-12 col-xl-5 text-center">
      <h1 class="font-weight-bold my-1">
        {{contactInfoData.name + " " +  contactInfoData.lastName}}
      </h1>
    </div>

    <div 
    class="col-12 col-sm-10 col-xl-7 mx-auto py-3 d-flex justify-content-around align-items-center">


      <a  *ngFor="let contactLink of contactInfoData.contactLink" 
      class="contact-link mx-1 text-decoration-none text-dark d-flex justify-content-between" target="_blank"
        [href]="contactLink.href">
        <img class="mx-1" width="30px" height="30px" [src]="contactLink.src" data-bs-toggle="tooltip"
          data-bs-placement="bottom" [title]="contactLink.tooltip" [alt]="contactLink.alt">
        <p class="d-none d-sm-block m-auto">{{contactLink.content}}</p>
      </a>

    </div>
  </header>