@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

:root{
    --font-base: 'Smooch', cursive;
}

///test Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-footer: 'Bebas Neue', cursive;

/// FONT FOR DESKTOP MENU
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
$font-menu: 'Patua One', cursive;